.c-button {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px var(--color);
    color: var(--color);
    background-color: transparent;
    --color: black;

    &--white {
        border: solid 1px white;
        color: white
    }    
}



.c-button-fancy {
    border: .1em solid var(--color);
    background: transparent;
    --color: black;
    color: var(--color);
    transition: 1s box-shadow;

    &:hover {
        box-shadow: 0 0 0 1em var(--color) inset;
        color: white;
    }    

    &--blue {
        --color: blue
    }

}