// Remove this things above
%size-backgroun {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.h-image-background {    
    @extend %size-backgroun;
}

.h-shadow-background {
    background-color: rgba(84, 84, 84, 0.5);
    @extend %size-backgroun;         
}

.h-blur {
    animation: blur 0.5s;

}

@keyframes blur {
     0% { filter: blur(40px); }
    25% { filter: blur(25px); }
    50% { filter: blur(10px); }
    75% { filter: blur(5px); }
    100% { filter: blur(0px); }
}

.c-logo {
    width: 135px;
}
