.c-title {     
    text-align: center;
    font-size: 13.5px;
    letter-spacing: 2.5px;
    text-transform: uppercase;    

    &--big {
        font-size: 27px;      
        font-weight: 900;   
    }        

}

.c-message {
    text-align: center;
    line-height: 19px;
    font-size: 13px;
    letter-spacing: 0.6px;    
}