//Sizes for media queries
$SizeDesktop: 940px;
$SizeTablets: 600px;

$gapSidesPreview: 0px;
$gapSidesPreviewTablet: 0px;
$gapSidesPreviewDesktop: 0px;

$headerHeight: 40px;
$headerHeightTablet: 50px;
$headerHeightDesktop: 50px;

$FooterHeight: 40px;
$FooterHeightTablet: 50px;
$FooterHeightDesktop: 50px;

$fontMaster:  "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
$primeryColor: #1ABC9C;