//Sizes for media queries
$DesktopSize: 940px;
$TabletsSize: 600px;

$SizeContent: 310px;
$SizeContentTablet: 610px;
$SizeContentDesktop: 1560px;

$gapPreview: 16px;
$gapPreviewTablet: 60px;
$gapPreviewDesktop: 160px;

$headerSize: 40px;
$headerSizeDesktop: 50px;