<label class="c-checkbox">One
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>

<label class="c-checkbox">Two
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="c-checkbox">Three
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="c-checkbox">Four
  <input type="checkbox">
  <span class="checkmark"></span>
</label>