.c-card {

    position: relative;
    width: 310px;
    height: 310px;
    
    color: white;
    font-family: 'Open Sans', sans-serif;

    &__background {    
        position: absolute;        
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &__section-main {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
    }        
    &__message {
        visibility: hidden;
        position: absolute;
        top: 60%;
        width: 80%;
        left: 10%;
        right: 10%;        
    }      
    &__message--main {
        visibility: visible;
    }          
    &__button {
        visibility: hidden;
        position: absolute;
        bottom: 10%;                        
        left: 50%;
        transform: translateX(-50%);         
    }

    @media (min-width: $DestopSize) {                     


        &--xl {
            width: 620px;
            height: 620px;
        }

        &--md {
            width: 410px;
            height: 410px;            
        }        

        &__section-main {
            top: 35%; //
            transition: top 1s, 
                        transform 1s linear;                   
        }
        &__message {          
            visibility: hidden;
            opacity: 0;
            transition: top 1s, 
                        transform 1s 1s linear, 
                        visibility 1s,
                        opacity 1s linear;
        }                            
        &__button {
            visibility: hidden;
            opacity: 0; 
            transition: visibility 0s 1s, 
                        opacity 1s linear;            
        }

        &__section-main--anime {                    
            transition: top 1s, 
                        transform 1s linear;       
        }        
        &__section-main--animated {
            top: 10%;          
        }

        &:hover {
            .c-card__section-main {
              top: 10%;
            } 
            .c-card__button {
              visibility: visible;
              opacity: 1;
              transition: opacity 1s linear;
            }
            .c-card__message {
              top: 40%;
              visibility: visible;
              opacity: 1;
              transition: top 1s, transform 1s 1s linear, opacity 1s linear;
            }
            .c-card__background {
              background-color: rgba(84, 84, 84, 0.8)
            }
        }        
     
    }
}