.c-nav {
        
    height: $headerSize;

    &__menu-icon {
        padding: 0px 10px;
        float: right;
        text-align: right;
    }

    &__menu {
        position: relative;
        float: right;
        margin: 0px 8px;        
        padding: 10px;
        
        color: #999;
        font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
        text-align: center;
        border-radius: 4px;
        background: white;
        box-shadow: 0 1px 8px rgba(0,0,0,0.05);        
        opacity: 0;
        transition: opacity .4s;

        &:after {
            position: relative;
            top: -164px;
            left: 29px;
            content: "";
            display: block;
            border-left: 4px solid transparent;
            border-right: 19px solid transparent;
            border-bottom: 8px solid white;
        }
        
        ul, li, li a {
            list-style: none;
            display: block;
            margin: 0;
            padding: 0;
        }

        li a {
            padding: 5px;
            color: #888;
            text-decoration: none;
            transition: all .2s;
        }

        li a:hover,
        li a:focus {
            background: #1ABC9C;
            color: #fff;
        }        
    }

    &__menu--on {
        opacity: 1;
    }
    
    @media (min-width: $DesktopSize) {

        height: $headerSizeDesktop;

        &__menu-icon {
            opacity: 0;
        }
    
        &__menu {
            position: fixed;
            top: 2px;
            right: $gapPreviewDesktop + 10px;
            width: initial;
            padding: 0;
            opacity: 1;
            
            background: unset;
            box-shadow: unset;
    
            &:after {
                opacity: 0;
            }
    
            
            ul, li, li a {
                list-style: none;
                display: inline-block;
                margin: 0;
                padding: 0;
                line-height: 55px;
            }
    
            li a {
                padding: 5px 15px;
                color: white;
                text-decoration: none;
                transition: all .2s;                
            }
    
            li a:hover,
            li a:focus {
                background: #1ABC9C;
                color: #fff;
                font-weight: 600;   
                letter-spacing: 1.5px;       
                font-size: 20px;      
            }        
        }
    
    }

}