.c-nav {
        
    position: relative;
    height: $headerHeight;

    &__menu-hamburger-icon {
        padding: 0px 10px;
        float: right;
        text-align: right;
    }

    &__menu {
        position: fixed;
        top: 18px;
        right: 55px;
        width: 160px;
        
        color: #999;
        font-family: $fontMaster;
        text-align: center;
        border-radius: 4px;
        background: white;
        box-shadow: 0 1px 8px rgba(0,0,0,0.05);        
        opacity: 0;
        transition: opacity .4s;

        &:after {
            position: relative;
            top: -212px;
            left: 16px;
            content: "";
            display: block;
            border-left: 4px solid transparent;
            border-right: 19px solid transparent;
            border-bottom: 8px solid white;
        }
        

        ul {      
            
            margin: 0;

            li {

                list-style: none;
                padding: 5px 0px;
    
                a {
                    display: block;            
                    margin: 0px 10px;
                    padding: 5px 0px;
                    border-bottom: .8px solid $primeryColor;

                    color: #888;
                    text-decoration: none;
                    transition: all .2s;
                }
            } 
        }

     
    }

    &__menu--on {
        opacity: 1;
    }
    
    @media (min-width: $SizeTablets) {

        &__menu-hamburger-icon {
            opacity: 0;
            width: 0;
        }
    
        &__menu {
            position: relative;
            float: right;
            top: unset;
            right: unset;
            width: unset;
            opacity: 1;
            
            background: unset;
            box-shadow: unset;
    
            &:after {
                position: fixed;
                top: 0;
                left: 0;                
                opacity: 0;
            }
                
            li {

                list-style: none;
                display: inline-block;                
                line-height: 25px;
                vertical-align: middle;

                a {
                    font-size: 16px;
                    padding: 5px 15px;
                    color: white;
                    text-decoration: none;
                    transition: all .2s;                                    
                }

                a:hover,
                a:focus {
                    background: #1ABC9C;
                    color: #fff;
                    font-weight: 600;   
                    letter-spacing: 1.5px;       
                    font-size: 18px;      
                }                
            }

    
        
        }
    
    }

}