<footer class="c-footer">
    <ul class="c-footer--menu">
        <li class="">
            <a target="_blank" href="#">BTFE.com (1)</a>
        </li>
        <li class="">
            <a target="_blank" href="#">About (2)</a>
        </li>
        <li class="">
            <a target="_blank" href="#">New special offers (3)</a>
        </li>
        <li class="">
            <a target="_blank" href="#">Google (4)</a>
        </li>
        <li class="">
            <a target="_blank" href="#">Yahoo (5)</a>
        </li>
        <li class="">
            <a target="_blank" href="#">Bro (6)</a>
        </li>                                        
    </ul>
</footer>


