<div id='id-button-menu-hamburger' class="c-button-menu-hamburger" 
    onclick="menuHamburgerClick(this)">
  <div class="c-button-menu-hamburger__bar1"></div>
  <div class="c-button-menu-hamburger__bar2"></div>
  <div class="c-button-menu-hamburger__bar3"></div>
</div>