<div class="c-section-main">
    <div class="c-section-main__up c-section-main--main-card__up c-title">{{title-up}}</div>        
    <img class="c-section-main__down c-section-main--main-card__down" src="{{logo}}" alt="logo">
</div>