<img class="c-card__background c-image-background c-blur js-lazy-image" 
    src="{{img-sm}}"
    data-src="{{img}}" alt="{{alt}}">            
<div class="c-card__background c-shadow-background"></div>
