<div class="c-card">    
    
    {{render "@card-background" card.card-background}}

    <div class="c-card__section-main">
        {{render "@section-main" card.section-main}}
    </div>    
</div>
    
