<div class="c-card c-card--biger">
    
    {{render "@card-background" card-main.card-background}}    
    
    <div class="c-card__section-main">
        {{render "@section-main--logo" card-main.section-main}}
    </div>    

    <div class="c-card__message c-message">{{card-main.text}}</div>                                     
</div>