<div class="c-card">        
    {{render "@card-background" content.card-background}}

    <div class="c-card__section-main">
        {{render "@section-main" content.section-main}}
    </div>        
</div>
    
