<div class="c-card c-card--bigger" onmouseover="mOver(this)" onmouseout="mOut(this)">    
    {{render "@card-background" content.card-background}}    
    
    
    <div class="c-card__section-main">
        {{render "@section-main--with-logo" content.section-main}}
    </div>    

    <div class="c-card__message c-message c-card__message--main c-card__message--anime">{{content.text}}</div>                                     
    <div class="c-card__button">{{render "@button"}}</div>                                     
</div>