<div class="c-card c-card--middle">
    {{render "@card-background" content.card-background}}    
    
    
    <div class="c-card__section-main">
        {{render "@section-main" content.section-main}}
    </div>                                      
</div>