<div class="c-card c-card--middle js-animated">
    {{render "@card-background" content.card-background}}    
    
    <div class="c-card__section-main c-card__section-main--anime">
        {{render "@section-main" content.section-main}}
    </div>    

    <div class="c-card__message c-message c-card__message--anime">{{content.text}}</div>                                     
    <div class="c-card__button">{{render "@button"}}</div>
</div>