<div class="c-card c-card--middle js-animated">
    {{render "@card-background" card-animated.card-background}}
    
    <div class="c-card__section-main">
        {{render "@section-main" card-animated.section-main}}
    </div>    

    <div class="c-card__message c-message">{{card-animated.text}}</div>
    <div class="c-card__button">{{render "@button"}}</div>
</div>