.h-image-background, .h-shadow-background {
  width: 100%;
  height: 100%;
  border-radius: 7px; }

.h-shadow-background {
  background-color: rgba(84, 84, 84, 0.5); }

.h-blur {
  animation: blur 0.5s; }

@keyframes blur {
  0% {
    filter: blur(40px); }
  25% {
    filter: blur(25px); }
  50% {
    filter: blur(10px); }
  75% {
    filter: blur(5px); }
  100% {
    filter: blur(0px); } }

.c-title {
  text-align: center;
  font-size: 13.5px;
  letter-spacing: 2.5px;
  text-transform: uppercase; }
  .c-title--big {
    font-size: 27px;
    font-weight: 900; }

.c-message {
  text-align: center;
  line-height: 19px;
  font-size: 13px;
  letter-spacing: 0.6px; }

.c-button {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px var(--color);
  color: var(--color);
  background-color: transparent;
  --color: black; }
  .c-button--white {
    border: solid 1px white;
    color: white; }

.c-button-fancy {
  border: 0.1em solid var(--color);
  background: transparent;
  --color: black;
  color: var(--color);
  transition: 1s box-shadow; }
  .c-button-fancy:hover {
    box-shadow: 0 0 0 1em var(--color) inset;
    color: white; }
  .c-button-fancy--blue {
    --color: blue
    ; }

.c-moustache {
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  --size: 180;
  left: 100px;
  border-radius: 50%;
  position: absolute;
  color: black;
  --y-shadow: 240;
  box-shadow: 150px calc(var(--y-shadow) * 1px) 0 0 currentColor, calc( (var(--size) + 120) * 1px) calc(var(--y-shadow) * 1px) 0 0 currentColor; }
  .c-moustache::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 120px;
    width: calc(var(--size) * 1px);
    height: calc((var(--size) - 90) * 1px);
    --size: 210;
    border-bottom: solid calc((var(--size) - 30) * 1px) currentColor;
    border-radius: 0 0 0 100%;
    transform: rotate(-40deg);
    transform-origin: right 210px; }
  .c-moustache::after {
    content: "";
    position: absolute;
    left: 390px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 100% 0;
    transform: rotate(40deg);
    transform-origin: left 210px; }

.c-button {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px var(--color);
  color: var(--color);
  background-color: transparent;
  --color: black; }
  .c-button--white {
    border: solid 1px white;
    color: white; }

.c-button-fancy {
  border: 0.1em solid var(--color);
  background: transparent;
  --color: black;
  color: var(--color);
  transition: 1s box-shadow; }
  .c-button-fancy:hover {
    box-shadow: 0 0 0 1em var(--color) inset;
    color: white; }
  .c-button-fancy--blue {
    --color: blue
    ; }

.c-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.c-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid #727779;
  /*The Box*/
  border-radius: 2px; }

/* On mouse-over, change border color */
.c-checkbox:hover input ~ .checkmark {
  /*background-color: #ccc;*/
  border: 1px solid #2F2F2F; }

/* Style the checkmark/indicator */
/* Just a rotated squace */
.c-checkbox .checkmark:after {
  left: 7px;
  top: 1.5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  border-radius: 1.5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/* When the checkbox is checked, add a blue background */
.c-checkbox input:checked ~ .checkmark {
  background-color: #2F2F2F; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.c-checkbox input:checked ~ .checkmark:after {
  display: block; }

.c-button-menu-hamburger {
  display: inline-block;
  cursor: pointer; }
  .c-button-menu-hamburger__bar1, .c-button-menu-hamburger__bar2, .c-button-menu-hamburger__bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s; }

.on .c-button-menu-hamburger__bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.on .c-button-menu-hamburger__bar2 {
  opacity: 0; }

.on .c-button-menu-hamburger__bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

.c-card {
  position: relative;
  width: 310px;
  height: 310px;
  color: white;
  font-family: 'Open Sans', sans-serif; }
  .c-card__background {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .c-card__section-main {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%); }
  .c-card__message {
    visibility: hidden;
    position: absolute;
    top: 60%;
    width: 80%;
    left: 10%;
    right: 10%; }
  .c-card__message--main {
    visibility: visible; }
  .c-card__button {
    visibility: hidden;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%); }
  @media (min-width: 940px) {
    .c-card--xl {
      width: 620px;
      height: 620px; }
    .c-card--md {
      width: 410px;
      height: 410px; }
    .c-card__section-main {
      top: 35%;
      transition: top 1s,  transform 1s linear; }
    .c-card__message {
      visibility: hidden;
      opacity: 0;
      transition: top 1s,  transform 1s 1s linear,  visibility 1s, opacity 1s linear; }
    .c-card__button {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 1s,  opacity 1s linear; }
    .c-card__section-main--anime {
      transition: top 1s,  transform 1s linear; }
    .c-card__section-main--animated {
      top: 10%; }
    .c-card:hover .c-card__section-main {
      top: 10%; }
    .c-card:hover .c-card__button {
      visibility: visible;
      opacity: 1;
      transition: opacity 1s linear; }
    .c-card:hover .c-card__message {
      top: 40%;
      visibility: visible;
      opacity: 1;
      transition: top 1s, transform 1s 1s linear, opacity 1s linear; }
    .c-card:hover .c-card__background {
      background-color: rgba(84, 84, 84, 0.8); } }

.c-slide-show {
  max-width: 500px;
  position: relative;
  box-sizing: border-box;
  font-family: Verdana, sans-serif; }
  .c-slide-show__slide {
    display: none; }
  .c-slide-show__arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; }
    .c-slide-show__arrow:hover {
      background-color: rgba(0, 0, 0, 0.8); }
    .c-slide-show__arrow--rigth {
      right: 0%;
      border-radius: 3px 0 0 3px; }
  .c-slide-show__img {
    width: 100%; }
  .c-slide-show__text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center; }
  .c-slide-show__numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0; }
  .c-slide-show__dot-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .c-slide-show__dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
    .c-slide-show__dot:hover, .c-slide-show__dot--active {
      background-color: #717171; }
  .c-slide-show__fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }
  @media only screen and (max-width: 300px) {
    .c-slide-show__arrow, .c-slide-show__text {
      font-size: 11px; } }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.c-nav {
  height: 40px; }
  .c-nav__menu-icon {
    padding: 0px 10px;
    float: right;
    text-align: right; }
  .c-nav__menu {
    position: relative;
    float: right;
    margin: 0px 8px;
    padding: 10px;
    color: #999;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    opacity: 0;
    transition: opacity .4s; }
    .c-nav__menu:after {
      position: relative;
      top: -164px;
      left: 29px;
      content: "";
      display: block;
      border-left: 4px solid transparent;
      border-right: 19px solid transparent;
      border-bottom: 8px solid white; }
    .c-nav__menu ul, .c-nav__menu li, .c-nav__menu li a {
      list-style: none;
      display: block;
      margin: 0;
      padding: 0; }
    .c-nav__menu li a {
      padding: 5px;
      color: #888;
      text-decoration: none;
      transition: all .2s; }
    .c-nav__menu li a:hover,
    .c-nav__menu li a:focus {
      background: #1ABC9C;
      color: #fff; }
  .c-nav__menu--on {
    opacity: 1; }
  @media (min-width: 940px) {
    .c-nav {
      height: 50px; }
      .c-nav__menu-icon {
        opacity: 0; }
      .c-nav__menu {
        position: fixed;
        top: 2px;
        right: 170px;
        width: initial;
        padding: 0;
        opacity: 1;
        background: unset;
        box-shadow: unset; }
        .c-nav__menu:after {
          opacity: 0; }
        .c-nav__menu ul, .c-nav__menu li, .c-nav__menu li a {
          list-style: none;
          display: inline-block;
          margin: 0;
          padding: 0;
          line-height: 55px; }
        .c-nav__menu li a {
          padding: 5px 15px;
          color: white;
          text-decoration: none;
          transition: all .2s; }
        .c-nav__menu li a:hover,
        .c-nav__menu li a:focus {
          background: #1ABC9C;
          color: #fff;
          font-weight: 600;
          letter-spacing: 1.5px;
          font-size: 20px; } }

.content-wrapper {
  height: 100%;
  margin: 0px 16px;
  background: #eee; }
  @media (min-width: 600px) {
    .content-wrapper {
      margin: 0px 60px; } }
  @media (min-width: 940px) {
    .content-wrapper {
      margin: 0px 160px; } }

.c-card-grid-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .c-card-grid-flex__item {
    padding: 5px; }
  @media (min-width: 940px) {
    .c-card-grid-flex {
      flex-flow: row wrap;
      justify-content: space-between; } }

.c-footer {
  position: fixed;
  bottom: 0;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  background: #1ABC9C;
  width: 100%; }
  .c-footer__logo {
    padding: 10px 15px;
    float: left; }
  .c-footer__links {
    float: unset; }
    .c-footer__links li {
      display: inline;
      list-style: none;
      padding: 5px; }
    .c-footer__links a {
      color: white;
      text-decoration: none; }
    @media (min-width: 940px) {
      .c-footer__links {
        padding-right: 170px;
        float: right; } }

.c-header {
  position: fixed;
  top: 0;
  height: 40px;
  padding: 10px 0px;
  width: 100%;
  background: #1ABC9C; }
  .c-header__logo {
    padding: 0px 15px;
    float: left; }
  .c-header__nav {
    float: right; }
  @media (min-width: 940px) {
    .c-header {
      height: 50px; }
      .c-header__logo {
        padding-top: 8px; } }

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  min-width: 382px;
  margin: 0; }

ul {
  padding-inline-start: 0; }
