.c-image-background, .c-shadow-background {
  width: 100%;
  height: 100%;
  border-radius: 7px; }

.c-shadow-background {
  background-color: rgba(128, 128, 128, 0.38); }

.c-logo {
  width: 53%; }

.c-button {
  color: white; }

.c-title {
  width: 100%;
  text-align: center;
  font-size: 13.5px;
  letter-spacing: 2.5px;
  text-transform: uppercase; }
  .c-title_big {
    font-size: 27px;
    font-weight: 900; }

.c-message {
  text-align: center;
  line-height: 19px;
  font-size: 13px;
  letter-spacing: 0.6px; }

.c-card__img, .c-card__shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; }

.c-card {
  position: relative;
  width: 285px;
  height: 285px;
  color: white;
  font-family: 'Open Sans', sans-serif; }
  .c-card__title-one {
    position: absolute;
    left: 0px;
    top: 39%; }
  .c-card__title-one_main {
    top: 25%; }
  .c-card__title-two {
    position: absolute;
    left: 0px;
    top: 47%; }
  .c-card__logo {
    position: absolute;
    left: 64px;
    top: 34%; }
  .c-card__title-logo {
    display: none; }
  .c-card__message {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 50%; }
  .c-card__button {
    display: none; }

.c-card-grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  margin-top: 10px;
  margin-left: 10px; }
  @media (min-width: 600px) {
    .c-card-grid {
      grid-template-columns: auto auto auto; } }
