.c-card__img, .c-card__shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; }

.c-image-background, .c-shadow-background {
  width: 100%;
  height: 100%;
  border-radius: 7px; }

.c-shadow-background {
  background-color: rgba(128, 128, 128, 0.38); }

.c-button {
  color: white; }

.c-title {
  text-align: center;
  font-size: 13.5px;
  letter-spacing: 2.5px;
  text-transform: uppercase; }
  .c-title_big {
    font-size: 27px;
    font-weight: 900; }

.c-message {
  text-align: center;
  line-height: 19px;
  font-size: 13px;
  letter-spacing: 0.6px; }

.c-section-main {
  position: relative;
  width: 200px;
  height: 200px; }
  .c-section-main__up {
    position: absolute;
    width: 100%;
    top: 35%; }
  .c-section-main__down {
    position: absolute;
    width: 100%;
    top: 48%; }
  .c-section-main--main-card__up {
    top: 18%; }
  .c-section-main--main-card__down {
    top: 28%; }
  @media (min-width: 600px) {
    .c-section-main--main-card__up {
      top: 44%; }
    .c-section-main--main-card__down {
      top: 60%;
      width: 194px; } }

.c-card {
  position: relative;
  width: 285px;
  height: 285px;
  color: white;
  font-family: 'Open Sans', sans-serif; }
  .c-card__section-main {
    position: absolute;
    top: 15%;
    left: 15%;
    transition: top 2s, transform 1s 1s linear; }
  .c-card__logo {
    position: absolute;
    left: 23%;
    top: 34%; }
  .c-card__title-logo {
    display: none; }
  .c-card__message {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 54%; }
  .c-card__button {
    display: none; }
  @media (min-width: 600px) {
    .c-card--biger {
      width: 940px;
      height: 520px; }
    .c-card--middle {
      width: 460px;
      height: 360px; }
    .c-card--sm {
      width: 220px;
      height: 360px; }
    .c-card__section-main {
      left: 40%;
      top: 15%; }
    .c-card__message {
      top: 60%;
      left: 23%;
      width: 52%; }
    .c-card__title-one--animated {
      top: 20%; } }

.c-card-grid {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  width: 860px;
  top: 5px;
  left: 5px; }
  @media (min-width: 600px) {
    .c-card-grid {
      grid-template-columns: 230px 230px 230px 230px; }
      .c-card-grid .c-card-grid__card-one {
        grid-column: 1 / 4; }
      .c-card-grid .c-card-grid__card-two {
        grid-column: 1 / 2; }
      .c-card-grid .c-card-grid__card-three {
        grid-column: 3 / 3; }
      .c-card-grid .c-card-grid__card-for {
        grid-column: 4 / 4; }
      .c-card-grid .c-card-grid__card-five {
        grid-column: 1 / 1; }
      .c-card-grid .c-card-grid__card-six {
        grid-column: 2 / 2; }
      .c-card-grid .c-card-grid__card-seven {
        grid-column: 3 / 4; } }
