<section class="c-hero">
    <img class="c-hero__img-background" src="{{ img }}"></img>
    <div class="c-hero__content">
        <h1 class="c-hero__title">{{ title }}</h1>
        <h1 class="c-hero__sub-title">{{ sub-title }}</h1>
    </div>    
</section>