<div class="c-header">

    <div class="c-header__logo">
        <a href="#">
            {{ render "@logo-company" }}
        </a>
    </div>

    <div class="c-header__nav">
        {{ render "@nav" }}
    </div>
    
</div>

