<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">    
    <title>Preview Layout</title>
    <link rel="stylesheet" href="{{ path '/css/styles.css'}}">    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
{{{ yield }}}
<script src="{{ path '/js/lazy-load-img.js' }}"></script>
<script src="{{ path '/js/slide-show.js' }}"></script>
</body>
</html>