<div class="c-card-grid-flex">

    <div class="c-card-grid-flex__item">
        <div class="c-card c-card--xl">
            {{render "@card" card}}
        </div>        
    </div>  
    
    <div class="c-card-grid-flex__item">
        <div class="c-card c-card--md">
            {{render "@card" card}}
        </div>        
    </div>   

    <div class="c-card-grid-flex__item">
        <div class="c-card">
            {{render "@card" card}}
        </div>        
    </div>        

    <div class="c-card-grid-flex__item">
        <div class="c-card">
            {{render "@card" card}}
        </div>        
    </div>                                                  

</div>

