.c-card-grid {

    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    width: 860px;
    padding: 5px;

    @media (min-width: 600px) {
        grid-template-columns: 230px 230px 230px 230px;

        .c-card-grid__card-one {
            grid-column: 1 / 4;            
        }

        .c-card-grid__card-two {
            grid-column: 1 / 2;             
        }

        .c-card-grid__card-three {
            grid-column: 3 / 3;            
        }
        
        .c-card-grid__card-for {
            grid-column: 4 / 4;            
        }        

        .c-card-grid__card-five {
            grid-column: 1 / 1;            
        }        
        
        .c-card-grid__card-six {
            grid-column: 2 / 2;            
        }        
        
        .c-card-grid__card-seven {
            grid-column: 3 / 4;            
        }                
    }    
    
}