.c-card {

    position: relative;
    width: 285px;
    height: 285px;
    color: white;
    font-family: 'Open Sans', sans-serif;

    &__img {    
        @extend %background-position;
    }
    &__shadow {
        @extend %background-position;        
    }        

    &__section-main {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
    }        
    &__message {
        position: absolute;
        top: 60%;
        width: 80%;
        left: 10%;
        right: 10%;        
    }      
    &__button {
        position: absolute;
        bottom: 10%;                        
        left: 50%;
        transform: translateX(-50%);         
    }

    @media (min-width: 600px) {        
        &--bigger {
            width: 940px;
            height: 520px;        
        }
        &--middle {
            width: 460px;
            height: 360px;        
        }        
        &--sm {
            width: 220px;
            height: 360px;        
        }                 

        &__section-main {
            top: 35%; //
        }

        &__message--anime {
            visibility: hidden;
            opacity: 0;
            transition: top 2s, transform 1s 1s linear, 
                        visibility 0s, opacity 0.5s linear;            
        }                            
        &__section-main--anime {                    
            transition: top 2s, transform 1s 1s linear;       
        }
        &__button {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;            
        }

        &__button--animated {
            visibility: visible;
            opacity: 1;
        }        
        &__message--animated {
            top: 40%;
            visibility: visible;
            opacity: 1;
        }      
        &__section-main--animated {
            top: 10%;          
        }
        &__shadow--animated {
            background-color: rgba(84, 84, 84, 0.8)
        }          
    }
}