.c-section-main {
    position: relative;
    width: 200px;
    height: 200px;

    &__up {
        position: absolute;
        width: 100%;
        top: 35%;
    }    

    &__down {
        position: absolute;
        width: 100%;
        top: 48%;
    }
 
    &--main-card {
        &__up {
            top: 18%;
        }    
    
        &__down {
            top: 28%;
        }        

        @media (min-width: 600px) {             
            &__up {
                top: 44%;
            }                
            &__down {
                top: 60%;
                width: 194px;
            }
        }        
    }


}