$gap: 5px;
   
.c-card-grid-flex {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;                

    &__item {
        padding: $gap;
    }  

    @media (min-width: $DesktopSize) {

        flex-flow: row wrap;
        justify-content: space-between;          
        
        // &__item:nth-child(1) {
        //     flex: 1 1 100%;
        // }

        // &__item:nth-child(2) {
        //     flex: 0 1 50%;
        // }              

    }   
    
}


