.c-card-grid {

    display: grid;    
    grid-gap: 0.8em;

    &__item {
        padding-bottom: 0.3em;
    }
    
    @media (min-width: 615px) {
        grid-template-columns: 1fr 1fr;
        max-width: 965px;                  
    }        

    @media (min-width: 960px) {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 965px;              
    }            
    
    @media (min-width: 1125px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1000px;              
    }    
    
}
