$maxWidthContainer: 1280px;
$gap: 5px;

.c-card-grid-flex-wrapper {

    position: relative;
    left: 10%;

    .c-card-grid-flex {

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: $maxWidthContainer;        
    
        &__item {
            padding-bottom: $gap;
            order: 2;
        }  
    
        @media (min-width: 960px) {
            color: red;      
            
            &__item:nth-child(1) {
                flex: 1 1 100%;
            }

            &__item:nth-child(2) {
                flex: 0 1 ( ($maxWidthContainer / 2) - ($gap * 3));
            }              
    
        }   
        
    }
}

