.c-footer {

    position: fixed;
    bottom: 0;

    font-family: $fontMaster;
    background: #1ABC9C;   
    width: 100%; 

    &__logo {
        padding: 10px 15px;
        float: left;
    }
        
    &__links {     
        
        float: unset;

        li {   
            display: inline;
            list-style: none;
            padding: 5px;
        }
    
        a {
            color: white;
            text-decoration: none;    
        }

        @media (min-width: $DesktopSize) {
            padding-right: $gapPreviewDesktop + 10px;
            float: right;
        }        
    } 

}