.c-footer {

    position: fixed;
    bottom: 0;
    height: $FooterHeight;
    padding: 10px 0px;
    width: 100%;

    font-family: $fontMaster;
    background: $primeryColor;   
    
    &__logo {
        padding: 10px 15px;
        float: left;
    }
        
    &__links {     
        
        float: unset;

        li {   
            display: inline;
            list-style: none;
            padding: 5px;
        }
    
        a {
            color: white;
            text-decoration: none;    
        }        

        @media (min-width: $SizeDesktop) {
            padding-right: $gapSidesPreviewDesktop + 10px;
            float: right;
        }        
    } 

    @media (min-width: $SizeTablets) {
        height: $FooterHeightTablet;
    }     
    
    @media (min-width: $SizeDesktop) {
        height: $FooterHeightDesktop;
    }         

}