.c-header {

    position: fixed;
    top: 0;    
    height: $headerHeight;
    padding: 10px 0px;
    width: 100%;    

    background: $primeryColor;
    
    &__logo {
        padding: 0px 15px;
        float: left;
    }

    &__nav {
        float: right;
        width: 60%;
    }

    @media (min-width: $SizeDesktop) {

        height: $headerHeightDesktop;    

        &__logo {
            padding-top: 8px;
        }        
    }

}