.c-header {

    position: fixed;
    top: 0;    
    height: $headerHeight;
    padding: 10px 0px;
    width: 100%;    

    background: $primeryColor;    
    
    &__logo {
        margin-left: 10px;
        float: left;
    }

    &__nav {
        float: right;
        margin-right: 10px;
    }

}