.content-wrapper {
    
    height: 100%;
    background: #eee; 

    margin: 0px $gapPreview;
    padding: ($headerFooterSize + 30px) 20px;    

    @media (min-width: $TabletsSize) {
        margin: 0px $gapPreviewTablet;
        padding: ($headerFooterSizeDesktop + 15px) 10px;
    }                

    @media (min-width: $DesktopSize) {
        margin: 0px $gapPreviewDesktop;
        padding: ($headerFooterSizeDesktop  + 30px)  10px;
    }                
}