.content-wrapper {
    
    height: 100%;
    margin: 0px $gapPreview;
    background: #eee; 

    @media (min-width: $TabletsSize) {
        margin: 0px $gapPreviewTablet;
    }                

    @media (min-width: $DesktopSize) {
        margin: 0px $gapPreviewDesktop;
    }                
}